<section class="card">
  <a href="/song/{{dataValues.id}}">
    <header class={{genreName}}>{{dataValues.title}}</header>
    <div class="card-body">
      <p>By: {{dataValues.artist}}</p>
    </div>
  </a>
</section>