<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songrex</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <h1>WELCOME TO SONGREX</h1>
      <div class="logo-container">
        <a href="/">
          <img src="/images/songrex.png" alt="Logo" />
        </a>
      </div>
      <h5>a website about song recommendations</h5>
    </header>
    <nav>
      <aside>
        <h2>Enjoy the Songs!</h2>
      </aside>
       <a href="/">Home</a>
      {{#if loggedIn}}
        <a id="logout" href="#" class="btn-no-style">Logout</a>
        <a href="/input">Add New Song</a>
        <a href="/liked">View Liked Songs</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div class="genre">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>