<a href="/songs" class="text genre-name centered">Get All Songs</a>
<div class="genre-cards">
  <h1 class="genre-name">Choose a Genre: </h1>
  <div class="gallery">
    {{#each genres}}
      <div class="card-body">
        <h2 class="select-name">{{this.name}}</h2>
        <a href="/genre/{{this.id}}">
          <img
            src="/images/{{this.image_name}}"
            alt="image representing genre"
          />
          <br />
          View
          {{this.name}}
          Songs</a>
      </div>
    {{/each}}
  </div>
</div>