:root {
  --primary: #eb1c64;
  --secondary: #000000;
  --tertiary: #2fda19;
  --quatrinary: #080702;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: #e42e01;
  --border-radius: 0.3rem;
  --font-family: "Courier New", Courier, monospace;
  --rock: #990932c8;
  --rap: #143864bf;
  --country: #138468bf;
  --pop: #ad2995bb;
  --indie: #712ac898;
  --funk: #db7c17c1;
  --electronic: #37908db7;
}
body {
  font-family: var(--font-family);
  margin: 0;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: #080702;
}
.text {
  color: var(--tertiary);
}
a {
  text-decoration: none !important;
  color: var(--tertiary);
}
a:hover {
  color: var(--primary);
}
header {
  padding: 10px;
  text-align: center;
  background-color: var(--primary);
  color: var(--tertiary);
}
main {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
aside {
  background-color: var(--secondary);
  color: var(--tertiary);
  padding: 1rem;
  flex-basis: 100%;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  /* order: -1; */
}
button {
  cursor: pointer;
}
nav {
  display: flex;
  background-color: var(--secondary);
}
nav a {
  padding: 14px 20px;
  text-align: center;
  width: 13vw;
}
nav a:hover {
  color: var(--primary);
  background-color: var(--dark);
}
.gallery {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery img {
  height: 200px;
  width: 200px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.logo-container img {
  max-height: 50px;
  background-color: transparent;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  background-color: #e3e4e3;
}
.card header {
  color: #e3e4e3;
  font-weight: bold;
  text-transform: uppercase;
}
.card-body {
  font-size: 1.4rem;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--secondary);
}
.card-body:hover {
  color: var(--primary);
}
.login-card {
  padding: 5px;
  border-style: double;
  border-width: thick;
  background-color: var(--light);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
}

/* Liked Page */
.liked {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 20px;
  padding: 10px;
  border: 3px solid var(--dark);
  color: var(--tertiary);
}
.song-details {
  margin: 3%;
  grid-column: span 1;
}

.centered {
  display: flex;
  justify-content: center;
}
.genre-item {
  width: calc(33.33% - 1rem);
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.genre-item h3 {
  margin-top: 0;
}
.genre-cards {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 3px solid var(--dark);
  flex-direction: column;
}
.genre-name {
  text-transform: uppercase;
  color: var(--tertiary);
  letter-spacing: 3px;
  text-align: center;
}
.select-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary);
}

/* Genre Color Palette */
.rock {
  background-color: var(--rock);
}
.rap {
  background-color: var(--rap);
}
.country {
  background-color: var(--country);
}
.pop {
  background-color: var(--pop);
}
.indie {
  background-color: var(--indie);
}
.funk {
  background-color: var(--funk);
}
.electronic {
  background-color: var(--electronic);
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .liked {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

